.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .main-login {
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
  }
  
  .login {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  label {
	font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }
  

  .sign-up-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .main-sing {
	min-height: 100vh;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .signup {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 20%;
  }
  
  form {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  label {
	font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  

  .go{
	width: 150px;
	border: 2px solid rgb(0, 252, 96) ;
	height: 40px;
	background-color:  rgb(31, 31, 31);
	border-radius: 20px;
	color: rgb(0, 252, 96);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	font-weight: 900;
   }
   
   .btn{
	top: 0;
   }
   
   
   
   .go:active{
	   background-color:  rgb(0, 252, 96);
	   color: rgb(31, 31, 31);
	   transform: scale(90%);
   }
   
   
   
   
   .all-learnings{
	   display: flex;
	   flex-direction: row;
	   flex-wrap: wrap;
	   margin:20px 40px;
	   height: 110vh;
	   justify-content: space-around;     
   }
   
   .book,.course{
	   margin-bottom: 20px;
	   border-radius: 10px;
	   margin-left: 20px;
	   width: 20%;
	   background-color:  rgb(31, 31, 31);
	   height: 450px;
	   display: flex;
	   flex-direction: column;
	   align-items: center;
	   color: white;
	   box-shadow: 3px 5px 30px #000000;
	   border-bottom: 10px groove rgb(0, 252, 96);
   }
   
   .course{
	   border-bottom: 10px groove rgb(123, 219, 160);
   }
   
   
   footer{
	   padding: 1px;
	   padding-top: 20px;
	   text-align: center;
	   color: rgb(0, 252, 96);
	   background-color:rgb(27, 27, 27);
   
   }
   
   
   .book img,.course img{
	   width: 100%;
	   border-radius: 8px 8px 0px 0px;
	   height: 60%;
	   display: flex;
	   flex-direction: column;
   }
   
   .describe,.price{
	   margin:15px;
	   padding:0;
	   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	   font-weight: 700;
	   font-size: 1.6em;
   
   }
   .price{
	   font-size: 1.2em;
   }
   
   .cart{
	   margin-left: 20px;
	   color: rgb(0, 252, 96);
   }
   
   
   main{
	   padding: 1px;
	   padding-bottom: 10px;
	   background-color:rgba(0, 0, 0, 0.945);
   }
   .nav-bar ul li a:hover{
    color: rgb(0, 252, 96);
}

.nav-bar ul{
	display: flex;
	flex-direction: row;
    margin-left: 0;

}
.nav-bar ul li {
	list-style: none;
	margin-right:25px;
}
.nav-bar ul li a{
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Jost',sans-serif;
	font-weight:700;
	margin-right:15px;
	font-size: 1.2em;
}
header{
	margin: 0;
	padding: 1px;
	width: 100%;
	height: 80px;
	background-color:rgb(27, 27, 27);
	display: flex;flex-direction: row;
    justify-content: space-around;
	align-items: center;
}

.logo-container{
	color:whitesmoke;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 2em;
}

.logo-container p span {
	color: rgb(0, 252, 96);
  }
  
  a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 1.2em;
}