body{
	margin:0px;
}



.login-container{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	position: relative;
	background: url("../mockup-react/img/43540.jpg") no-repeat center/cover; 
}



.login-container::before{
	backdrop-filter: blur(3px);
	content: '';
	display: block;
	height: 100%;
	width: 100%;


	position: absolute;
	left: 0;
	top: 0;
}

.main-login{
	z-index: 1;
	width: 350px;
	height: 600px;
	background: red;
	overflow: hidden;
	background: url("../mockup-react/img/43540.jpg") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.main-login button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #ffffff;
	background:rgb(0, 252, 96);;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.main-login button:hover{
	background: rgb(0, 252, 96);;
}
.login{
	height: 650px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-130px);
	transition: .8s ease-in-out;
}
.login label{
	color:black;
	transform: scale(.8);
	margin: 20px 0px;
}

#chk:checked  ~ .login{
	transform: translateY(-540px);
}
#chk:checked ~ .login label{
	transform: scale(1.1);	
}
#chk:checked  .signup label{
	transform: scale(.6);
}
.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header{
	margin: 0;
	padding: 1px;
	width: 100%;
	height: 80px;
	background-color:rgb(27, 27, 27);
	display: flex;flex-direction: row;
    justify-content: space-around;
	align-items: center;
}


.logo-container{
	color:whitesmoke;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 2em;
}

.logo-container p span {
	color: rgb(0, 252, 96);
  }

.nav-bar ul{
	display: flex;
	flex-direction: row;
    margin-left: 0;

}
.nav-bar ul li {
	list-style: none;
	margin-right:25px;
}
.nav-bar ul li a{
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Jost',sans-serif;
	font-weight:700;
	margin-right:15px;
	font-size: 1.2em;
}

.auth-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 200px;
}

.sign-in{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width:150px;
	color: white;
	font-family: 'Jost',sans-serif;
	font-weight:700;
	font-size: 1.2em;
	margin-right: 20px;
}

.nav-bar ul li a:hover{
    color: rgb(0, 252, 96);
}

.auth-container a:hover{
    color: rgb(0, 252, 96);
}

.sign-in i {
    color: rgb(0, 252, 96);
}

.sign-in a{
	text-decoration: none;
	color: white;
	width: 150px;
	margin-left: 10px;
}

.go{
 width: 150px;
 border: 2px solid rgb(0, 252, 96) ;
 height: 40px;
 background-color:  rgb(31, 31, 31);
 border-radius: 20px;
 color: rgb(0, 252, 96);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 1.3em;
 font-weight: 900;
}





.go:active{
	background-color:  rgb(0, 252, 96);
	color: rgb(31, 31, 31);
	transform: scale(90%);
}




.all-learnings{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin:20px 40px;
	height: 110vh;
	justify-content: space-around;     
}

.book,.course{
	margin-bottom: 20px;
	border-radius: 10px;
	margin-left: 20px;
	width: 20%;
	background-color:  rgb(31, 31, 31);
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	box-shadow: 3px 5px 30px #000000;
	border-bottom: 10px groove rgb(0, 252, 96);
}

.course{
	border-bottom: 10px groove rgb(123, 219, 160);
}


footer{
	padding: 1px;
	padding-top: 20px;
	text-align: center;
	color: rgb(0, 252, 96);
	background-color:rgb(27, 27, 27);

}


.book img,.course img{
	width: 100%;
	border-radius: 8px 8px 0px 0px;
	height: 60%;
	display: flex;
	flex-direction: column;
}

.describe,.price{
	margin:15px;
	padding:0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
	font-size: 1.6em;

}
.price{
	font-size: 1.2em;
}

.cart{
	margin-left: 20px;
    color: rgb(0, 252, 96);
}


main{
	padding: 1px;
	padding-bottom: 10px;
    background-color:rgba(0, 0, 0, 0.945);
}